{
  "openapi": "3.0.0",
  "info": {
    "title": "KDAPS API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "http://api.kount.com/kdaps",
      "description": "Production Server"
    },
    {
      "url": "http://staging.kount.com/kdaps",
      "description": "Staging Server"
    },
    {
      "url": "http://dev.kount.com/kdaps",
      "description": "Development Server"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/loginResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "login": {
        "type": "object",
        "properties": {
          "clientID": {
            "type": "string",
            "required": true,
            "pattern" : "^\\d{1,19}$"
          },
          "loginURL": {
            "type": "string",
            "pattern": "^((http[s]?):\\\/)?\\\/?([^:\\\/\\s]+)((\\\/\\w+)*\\\/)([\\w\\-\\.]+[^#?\\s]+)(.*)?(#[\\w\\-]+)?$"
          },
          "sessionID": {
            "type": "string",
            "required": true,
            "pattern" : "^[\\w-]{1,32}$"
          },
          "userID": {
            "type": "string",
            "required": true,
            "pattern" : "^\\w{1,64}\b$"
          },
          "userAuthenticationStatus": {
            "type": "string",
            "required": true,
            "pattern" : "^\\w{1,64}\b$"
          },
          "userLogin": {
            "type": "string",
            "format": "byte",
            "pattern" : "^\\w{1,64}\b$"
          },
          "userPassword": {
            "type": "string",
            "format": "byte",
            "pattern" : "^[A-Fa-f0-9]{64}"
          },
          "userCreationDate": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\\.[0-9]+)?(Z)?$"
          }
        }
      },
      "loginResponse": {
        "type": "object",
        "properties": {
          "recommendation": {
            "type": "string",
            "enum": [
              "allow",
              "block",
              "challenge"
            ]
          },
          "userProfile": {
            "type": "string"
          },
          "sessionID": {
            "type": "string"
          }
        }
      }
    }
  }
}
